#gray-300 {
  color: #dee2e6;
}
#gray-500 {
  color: #adb5bd;
}
#gray-600 {
  color: #6c757d;
}

#gray-700 {
  color: #495057;
}

#green-200 {
  color: #a3cfbb;
}

#green-400 {
  color: #479f76;
}

#back-green-400 {
  background: #479f76;
}

#teal-500 {
  color: #20c997;
}
