<!-- 
File Name : cart
Description : 장바구니
Author : 이유민

History
Date        Author      Status      Description
2025.01.16  이유민      Created     
2025.01.16  이유민      Modified    장바구니 UI 추가
2025.01.17  이유민      Modified    결제 코드 리팩토링
-->
<div style="max-width: 738px; margin: 0 auto; padding-top: 36px">
  <!-- 제목 -->
  <span style="font-family: LINESeed-BD; font-size: 45px;">
    장바구니
  </span>

  <!-- 수평선 -->
  <hr id="gray-500" style="width: 738px; padding-top: 16px;" />
</div>

<div class="cart-container">
  <div id="cartContainer" style="font-family: LINESeed-RG"></div>
  <div class="cart-footer">
    <p class="total-price">총 금액: <span id="totalPriceContainer"></span>원</p>
    <button id="cartProductPayments" class="global-btn">결제하기</button>
  </div>
</div>

<script src="/js/cart/indexHandler.js"></script>