<!-- 
File Name : mypage-purchase
Description : 마이페이지 전체 내역 확인 페이지
Author : 이유민

History
Date        Author      Status      Description
2024.12.03  이유민      Created     
2024.12.03  이유민      Modified    마이페이지 전체 내역 페이지 추가
-->
<div style="max-width: 738px; margin: 0 auto; padding-top: 36px">
  <!-- 제목 -->
  <span id="purchaseName" style="font-family: LINESeed-BD; font-size: 45px;">
  </span>

  <!-- 수평선 -->
  <hr id="gray-500" style="width: 738px; padding-top: 16px;" />

  <!-- 카드 데이터 -->
  <div id="cardDataContainer"></div>
</div>

<script src="/js/mypage/historyHandler.js"></script>