<!-- 
File Name : mypage-update
Description : 회원 정보 수정 페이지
Author : 이유민

History
Date        Author      Status      Description
2024.11.06  이유민      Created     
2024.11.06  이유민      Modified    회원 정보 수정 추가
2024.11.13  이유민      Modified    프로필 변경 API 연동
2024.11.13  이유민      Modified    닉네임 변경 API 연동
-->
<div style="max-width: 738px; margin: 0 auto; padding-top: 36px">
  <!-- 제목 -->
  <span style="font-family: LINESeed-BD; font-size: 45px;">
    마이페이지
  </span>

  <!-- 수평선 -->
  <hr id="gray-500" style="width: 738px; padding-top: 16px;" />

  <!-- 프로필 -->
  <div class="card mb-3" style="width: 738px; height: 265px">
    <div class="row g-0" style="height: 100%;">
      <div class="col-md-4" style="height: 100%; position: relative; cursor: pointer" onclick="document.getElementById('inputGroupFile01').click();">
        <img id="userProfileImg" class="img-fluid rounded-start" alt="프로필" style="height: 100%; width: auto; object-fit: cover" />
        <!-- 반투명 오버레이 -->
        <div style="position: absolute; top: 0; left: 0; width: 263px; height: 100%; 
              background-color: rgba(255, 255, 255, 0.5);"></div>

        <!-- 중앙 아이콘 -->
        <img src="/assets/icons/file-image.svg" alt="아이콘" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" />

        <!-- 파일 선택 -->
        <input type="file" class="form-control" id="inputGroupFile01" style="display: none" onchange="uploadFile()">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <!-- 닉네임 -->
          <span style="font-family: LINESeed-RG; font-size: 20px; display: block; padding-top: 20px" id="gray-600">
            닉네임
          </span>
          <div class="input-group mb-3" style="width: 90%; padding-top: 5px">
            <input type="text" class="form-control" id="userNickname" aria-label="nickname" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 수평선 -->
  <hr id="gray-500" style="width: 738px; margin-top: 32px;" />

  <!-- 비밀번호 변경 -->
  <div style="max-width: 738px; margin: 0 auto;">
    <!-- 제목 -->
    <span style="font-family: LINESeed-BD; font-size: 30px; display: block;">
      비밀번호 변경
    </span>


    <!-- 현재 비밀번호 입력 -->
    <span style="font-family: LINESeed-RG; font-size: 20px; display: block; padding-top: 20px" id="gray-600">
      현재 비밀번호
    </span>
    <div class="input-group mb-3" style="width: 47%; padding-top: 5px">
      <input type="password" class="form-control" id="form-select" placeholder="현재 비밀번호를 입력해주세요." aria-label="password" />
    </div>

    <!-- 비밀번호 입력 -->
    <span style="font-family: LINESeed-RG; font-size: 20px; display: block; padding-top: 10px" id="gray-600">
      변경할 비밀번호
    </span>
    <div class="input-group mb-3" style="width: 47%; padding-top: 5px">
      <input type="password" class="form-control" id="form-select" placeholder="변경할 비밀번호를 입력해주세요." aria-label="password-check" />
    </div>

    <!-- 비밀번호 확인 -->
    <span style="font-family: LINESeed-RG; font-size: 20px; display: block; padding-top: 10px" id="gray-600">
      변경할 비밀번호 확인
    </span>
    <div class="input-group mb-3" style="width: 47%; padding-top: 5px">
      <input type="password" class="form-control" id="form-select" placeholder="변경할 비밀번호를 한 번 더 입력해주세요." aria-label="password-check" />
    </div>
  </div>


  <!-- 수평선 -->
  <hr id="gray-500" style="width: 738px; margin-top: 32px;" />

  <!-- 버튼 -->
  <div style="display: flex">
    <button type="button" class="global-btn" style="font-size: 20px; width: 47%;">
      회원 탈퇴
    </button>
    <button type="button" class="global-btn" style="font-size: 20px; width: 47%; margin-left: auto" id="submitBtn">
      저장하기
    </button>
  </div>
</div>

<script src="/js/mypageUpdateHandler.js"></script>