<!-- 
File Name : footer
Description : 푸터 부분
Author : 이유민

History
Date        Author      Status      Description
2024.11.05  이유민      Created     
2024.11.05  이유민      Modified    header, footer 분리
-->
<footer>
  <div>
    <hr id="gray-500" style="width: 738px; margin: 0 auto; padding-bottom: 32px" />
  </div>
  <div id="gray-700" style="padding-left: 30px">
    (주) 리본 <span id="gray-600">|</span> 대표 이유민
    <span id="gray-600">|</span> 사업자번호 000-00-00000<br />
    주소 서울특별시 중구 세종대로 40<br />
    전화 1544-0000 <span id="gray-600">|</span> 고객문의 cs@reborn.com<br />
    <br />
    <span id="gray-600">
      제휴 문의 | 광고 문의 | PR 문의 | IR 문의
      <br />
      <br />
      이용약관 | 개인정보처리방침 | 운영정책
    </span>
  </div>
</footer>