<!-- 
File Name : header
Description : 헤더 부분
Author : 이유민

History
Date        Author      Status      Description
2024.11.05  이유민      Created     
2024.11.05  이유민      Modified    header, footer 분리
-->
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/">
      <img src="/assets/images/Reborn_logo2.svg" alt="Reborn 로고" style="height: auto; width: 151px; margin-left: 100px" />
    </a>
    <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 9px; font-size: 19px">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/pre-loved" style="color: <%= currentPage === 'pre-loved' ? '#6BBC1A' : 'inherit' %>;">중고거래
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/eco-market" style="color: <%= currentPage === 'eco-market' ? '#6BBC1A' : 'inherit' %>;">에코 마켓</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reborn-remake" style="color: <%= currentPage === 'reborn-remake' ? '#6BBC1A' : 'inherit' %>;">리본 리메이크</a>
        </li>
      </ul>
    </div>

    <!-- 로그인 버튼-->
    <!--
    <div style="margin-right: 100px">

      <a href="/login">
        <button type="button" class="btn login-btn">로그인</button>
      </a>

      -->
    <!-- 로그인 후 -->
    <div class="dropdown">
      <div style="margin-right: 100px; display: flex; align-items: center; cursor: pointer" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <p style="font-family: LINESeed-BD; font-size: 19px; margin: 0; line-height: 45px;">카레빵맨</p>
        <img src="/assets/images/profile.svg" style="width: 45px; height: 45px; border-radius: 50%; margin-left: 10px;" />
      </div>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="margin-top: 25px; margin-left: 50px">
        <li><a class="dropdown-item" href="#">로그아웃</a></li>
        <li><a class="dropdown-item" href="/chatting">내 채팅</a></li>
        <li><a class="dropdown-item" href="/mypage">마이페이지</a></li>
      </ul>
    </div>

  </nav>
</header>

<script>
  // 드롭다운을 클릭 시에 닫고 이동하게 만드는 스크립트 추가
  document.querySelectorAll('.dropdown-item').forEach(item => {
    item.addEventListener('click', function() {
      // 드롭다운을 닫기
      const dropdown = document.getElementById('dropdownMenuButton1');
      const bsDropdown = new bootstrap.Dropdown(dropdown);
      bsDropdown.hide();
    });
  });
</script>