<!-- 
File Name : adminManage
Description : 관리자 활동 페이지
Author : 이유민

History
Date        Author      Status      Description
2024.12.04  이유민      Created     
2024.12.04  이유민      Modified    관리자 활동 페이지 추가
2024.12.04  이유민      Modified    관리자 페이지 API 연동
2025.01.18  이유민      Modified    리본 리메이크 판매 내역 추가
-->
<div style="max-width: 738px; margin: 0 auto; padding-top: 36px">
  <!-- 제목 -->
  <span id="adminManageTitle" style="font-family: LINESeed-BD; font-size: 45px;">
  </span>

  <!-- 수평선 -->
  <hr id="gray-500" style="width: 738px; padding-top: 16px;" />

  <div id="contentContainer"></div>
</div>

<div id="sellingRemake" style="max-width: 95%; margin: auto; padding: 20px;">></div>

<script src="/js/admin/manageHandler.js"></script>