<!-- 
File Name : eco-market-click
Description : 에코마켓 상품 조회
Author : 이유민

History
Date        Author      Status      Description
2024.11.05  이유민      Created     
2024.11.05  이유민      Modified    에코마켓 상품 조회 추가
2024.11.21  이유민      Modified    API 연동
2024.11.21  이유민      Modified    모달 추가
2024.11.21  이유민      Modified    이미지 모달창 추가
2024.11.25  이유민      Modified    하단바 가격 연동
2024.11.25  이유민      Modified    결제버튼 수정
2024.11.27  이유민      Modified    UI 수정
2024.12.17  이유민      Modified    좋아요 API 연동
2024.12.18  이유민      Modified    오류 수정
-->
<!-- 상품 이미지 -->
<div style="display: flex; align-items: center; justify-content: center; padding-bottom: 21px">
  <img id="caretLeftBtn" src="/assets/icons/caret-right.svg" style="margin-right: 7px; transform: rotate(180deg); cursor: pointer;">
  <img id="marketProductImages" src="" alt="상품 이미지" style="width: 500px; height: 500px; object-fit: cover; border-radius: 20px; margin-top: 37px; cursor: pointer" onclick="openModal(this.src)">
  <img id="caretRightBtn" src="/assets/icons/caret-right.svg" style="margin-left: 7px; cursor: pointer;">
</div>

<!-- 프로필 및 설명 -->
<div style="max-width: 738px; margin: 0 auto;">
  <div style="display: flex; align-items: center; margin-bottom: 9px">
    <a id="ecoMarketLink" href="">
      <div style="display: flex; align-items: center; cursor: pointer">
        <img id="marketProfile" src="" style="width: 40px; height: 40px; object-fit: cover; border-radius: 50%; margin-right: 10px;">
        <p id="marketName" style="font-family: LINESeed-BD; font-size: 20px; margin: 0; color: black;"></p>
      </div>
    </a>
    <img id="likeImg" src="/assets/icons/heart.svg" style="width: 20px; height: 20px; cursor: pointer; margin-left: auto" />
  </div>

  <hr id="gray-500" style="width: 738px; margin: 0; padding-bottom: 16px" />

  <!-- 상품 설명 -->
  <div>
    <div id="marketProductName" style="padding-bottom: 9px; font-size: 20px; font-family: LINESeed-BD"></div>
    <div id="marketProductPrice" style="padding-bottom: 9px; font-size: 15px; font-family: LINESeed-BD"></div>
    <div id="marketProductDetail" style="padding-bottom: 9px; font-size: 15px; font-family: LINESeed-RG"></div>
    <!-- 관심, 수정, 삭제-->
    <div style="display: flex">
      <div style="color: #6c757d; font-size: 13px; font-family: LINESeed-RG">
        좋아요 <span id="likesNumber"></span>
      </div>
      <div id="principalCheck" style="margin-left: auto; gap: 10px; display: none">
        <div id="updateText" style="color: #6c757d; font-size: 13px; font-family: LINESeed-RG; cursor: pointer" data-bs-toggle="modal" data-bs-target="#modalContainer" onclick="setModalContent('updateMarketProduct')">
          수정
        </div>
        <div id="deleteText" style="color: #6c757d; font-size: 13px; font-family: LINESeed-RG; cursor: pointer" data-bs-toggle="modal" data-bs-target="#modalContainer" onclick="setModalContent('deleteMarketProduct')">
          삭제
        </div>
      </div>
    </div>
  </div>

  <!-- 하단바 -->
  <nav class="navbar navbar-light bg-light" style="position: fixed; bottom: 0; width: 100%; display: flex; font-family: LINESeed-RG; left: 0; z-index: 99">
    <!-- 총 금액-->
    <div id="totalAmount" style="padding-left: 130px; font-family: LINESeed-BD; font-size: 20px;"></div>

    <!-- 옵션 선택 
    <div style="position: absolute; left: 50%; transform: translateX(-50%); z-index: 1;">
      <select class="form-select" id="form-select" aria-label="Default select example" style="width: 507px;">
        <option selected value="option">옵션 선택하기</option>
        <option value="최신순">최신순</option>
      </select>
    </div> -->

    <!-- 수량 선택 및 결제 버튼 컨테이너 -->
    <div style="display: flex; align-items: center; padding-right: 130px; gap: 30px;">
      <!-- 수량 선택 컴포넌트 -->
      <div class="input-group" style="width: 120px;">
        <button class="btn btn-outline-secondary" type="button" onclick="decreaseQuantity()">-</button>
        <input type="text" class="form-control text-center" id="quantityInput" value="1" readonly />
        <button class="btn btn-outline-secondary" type="button" onclick="increaseQuantity()">+</button>
      </div>

      <!-- 결제 버튼 -->
      <button type="button" id="orderBtn" class="global-btn" style="width: 77px;">결제</button>
    </div>
  </nav>

  <!-- 이미지 모달 -->
  <div id="imageModal" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); justify-content: center; align-items: center; z-index: 1000;" onclick="closeModal()">
    <img id="modalImage" src="" style="max-width: 90%; max-height: 90%; border-radius: 20px;" alt="Expanded View">
    <button onclick="closeModal()" style="position: absolute; top: 10px; right: 20px; background: none; border: none; font-size: 24px; color: white; cursor: pointer;">
      &times;
    </button>
  </div>

  <!-- 모달 -->
  <%- include("../views/components/modal", {
  modalTitle: '',
  modalBody: '',
  modalCloseBtn: '취소',
  modalCheckBtn: '',
  modalCheck: ''
}) %>

  <script src="/js/eco-market/productHandler.js"></script>