<!-- 
File Name : eco-market
Description : 에코 마켓 페이지
Author : 이유민

History
Date        Author      Status      Description
2024.11.04  이유민      Created     
2024.11.04  이유민      Modified    에코 마켓 페이지 추가
2024.11.05  이유민      Modified    검색 및 정렬 추가
-->
<div class="page-box" style="background-color: #cfe2ff; padding-top: 182px; padding-bottom: 182px">
  <div style="margin-right: 12px">
    <p class="page-theme">
      지구를 위한 착한 소비,
      <br />
      에코 마켓에서 시작하세요
    </p>
    <p class="page-detail" style="margin-top: 78px">
      재활용과 재사용이 가능한
      <br />
      다양한 제품들을 만날 수 있습니다.
    </p>
  </div>
  <img src="/assets/images/eco-market.svg" style="height: 277px; width: auto; margin-left: 8px" />
</div>

<!-- 검색 및 정렬 -->
<div style="
    display: flex;
    justify-content: center;
    margin-top: 41px;
    margin-bottom: 41px;
  ">
  <div class="input-group mb-3" style="width: 437px; margin-right: 30px">
    <input type="text" class="form-control" id="form-select" placeholder="마켓을 검색해보세요." aria-label="eco-market-name" />
  </div>

  <div>
    <select class="form-select" id="form-select" aria-label="Default select example" style="width: 110px; text-align: center">
      <option selected value="이름순">인기순</option>
      <option value="최신순">이름순</option>
    </select>
  </div>
</div>

<!-- 카드 -->
<div class="card-contents" style="gap: 66px">
  <a href="/eco-market/click">
    <div class="card mb-3" style="width: 562px">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/images/eco-market-example.svg" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">만수마켓</h5>
            <p class="card-text">
              우리 동네에서 직접 수집한 재활용 명품들! 만수마켓에서 만나는 소중한
              가치를 느껴보세요.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">후기 2,829 단골 1,203</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </a>

  <a href="/eco-market/click">
    <div class="card mb-3" style="width: 562px">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/images/eco-market-example.svg" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">만수마켓</h5>
            <p class="card-text">
              우리 동네에서 직접 수집한 재활용 명품들! 만수마켓에서 만나는 소중한
              가치를 느껴보세요.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">후기 2,829 단골 1,203</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>

<div class="card-contents" style="gap: 66px">
  <a href="/eco-market/click">
    <div class="card mb-3" style="width: 562px">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/images/eco-market-example.svg" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">만수마켓</h5>
            <p class="card-text">
              우리 동네에서 직접 수집한 재활용 명품들! 만수마켓에서 만나는 소중한
              가치를 느껴보세요.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">후기 2,829 단골 1,203</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </a>

  <a href="/eco-market/click">
    <div class="card mb-3" style="width: 562px">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/images/eco-market-example.svg" class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">만수마켓</h5>
            <p class="card-text">
              우리 동네에서 직접 수집한 재활용 명품들! 만수마켓에서 만나는 소중한
              가치를 느껴보세요.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">후기 2,829 단골 1,203</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>