<!-- 
File Name : eco-market-click
Description : 에코마켓 정보 조회
Author : 이유민

History
Date        Author      Status      Description
2024.11.05  이유민      Created     
2024.11.05  이유민      Modified    에코마켓 정보 조회 추가
2024.11.21  이유민      Modified    API 연동
2024.11.21  이유민      Modified    제품 추가 등 기능 추가
2024.12.17  이유민      Modified    좋아요 API 연동
2025.01.05  이유민      Modified    검색 및 정렬 API 연동
2025.01.07  이유민      Modified    마켓별 후기 조회 추가
2025.01.08  이유민      Modified    후기 수 API 연동
-->
<!-- 프로필 -->
<div style="display: flex; align-items: center; justify-content: center; padding-bottom: 21px">
  <img id="marketProfileImageBig" src="" style="width: 500px; height: 500px; object-fit: cover; border-radius: 20px; margin-top: 37px;">
</div>

<!-- 프로필 설명 -->
<div style="max-width: 738px; margin: 0 auto;">
  <div style="display: flex; align-items: center; margin-bottom: 9px">
    <img id="marketProfileImageSmall" src="" style="width: 40px; height: 40px; object-fit: cover; border-radius: 50%; margin-right: 10px;">
    <p id="marketName" style="font-family: LINESeed-BD; font-size: 20px; margin: 0;"></p>
    <img id="likeImg" src="/assets/icons/heart.svg" style="width: 20px; height: 20px; cursor: pointer; margin-left: auto" />
  </div>

  <hr id="gray-500" style="width: 738px; margin: 0; padding-bottom: 16px" />

  <div style="font-family: LINESeed-RG">
    <div id="marketDetail" style="padding-bottom: 9px; font-size: 15px">
    </div>
    <div style="display: flex">
      <div style="color: #6c757d; font-size: 13px">
        후기 <span id="marketReviewNum"></span> 좋아요 <span id="marketLikeNum"></span>
      </div>
      <div id="principalCheck" style="margin-left: auto; gap: 10px; display: none">
        <div id="createMarketProduct" style="color: #6c757d; font-size: 13px; font-family: LINESeed-RG; cursor: pointer" data-bs-toggle="modal" data-bs-target="#modalContainer" onclick="setModalContent('createMarketProduct')">
          제품 추가
        </div>
        <div id="updateMarketDetail" style="color: #6c757d; font-size: 13px; font-family: LINESeed-RG; cursor: pointer" data-bs-toggle="modal" data-bs-target="#modalContainer" onclick="setModalContent('updateMarket')">
          마켓 수정
        </div>
        <div id="deleteMarket" style="color: #6c757d; font-size: 13px; font-family: LINESeed-RG; cursor: pointer" data-bs-toggle="modal" data-bs-target="#modalContainer" onclick="setModalContent('deleteMarket')">
          마켓 삭제 요청
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 탭 -->
<div style="max-width: 738px; margin: 0 auto; margin-top: 20px; position: relative; border-bottom: 2px solid #D1E7DD; font-family: LINESeed-RG">
  <ul class="tabButtons" style="list-style: none; padding: 0; margin: 0; display: flex;">
    <li style="flex: 1; padding: 10px 20px; text-align: center; cursor: pointer; border: 1px solid #D1E7DD; border-bottom: none; background-color: #f5f5f5; border-top-left-radius: 8px; border-top-right-radius: 8px;" onclick="showTab('productTab')" id="productTabButton">
      상품
    </li>
    <li style="flex: 1; padding: 10px 20px; text-align: center; cursor: pointer; border: 1px solid #D1E7DD; border-bottom: none; background-color: #e0e0e0; border-top-left-radius: 8px; border-top-right-radius: 8px;" onclick="showTab('reviewTab')" id="reviewTabButton">
      마켓 전체 후기
    </li>
  </ul>
</div>

<!-- 상품 창 -->
<div id="productTab" class="tabContent">
  <!-- 검색 및 정렬 -->
  <div style="display: flex; justify-content: center; margin-top: 20px; margin-bottom: 20px;">
    <div class="input-group mb-3" style="width: 437px; margin-right: 30px">
      <input type="text" class="form-control" id="marketProductSearch" placeholder="상품을 검색해보세요." oninput="logInputValue()" />
    </div>
    <div>
      <select class="form-select" id="marketProductSort" style="width: 110px; text-align: center">
        <option selected value="name">이름순</option>
        <option value="latest">최신순</option>
      </select>
    </div>
  </div>

  <!-- 카드 -->
  <div id="ecoMarketProductContainer"></div>
</div>

<!-- 후기 창 -->
<div id="reviewTab" class="tabContent" style="display: none;">
  <!-- 후기 -->
  <div style="padding-top: 5px; max-width: 738px; margin: 0 auto;">
    <div id="reviewContainer" style="margin-top: 15px;"></div>
    <span id="nullReview" style="font-family: LINESeed-RG; font-size: 20px; color: #6c757d; display: none; text-align: center; margin-top: 30px">
      후기가 없습니다.
    </span>
  </div>
</div>

<!-- 모달 -->
<%- include("../views/components/modal", {
  modalTitle: '',
  modalBody: '',
  modalCloseBtn: '취소',
  modalCheckBtn: '',
  modalCheck: ''
}) %>

<script src="/js/eco-market/clickHandler.js"></script>