<!-- 
File Name : chat-detail
Description : 채팅 상세 페이지
Author : 이유민

History
Date        Author      Status      Description
2024.11.06  이유민      Created     
2024.11.06  이유민      Modified    채팅 상세 페이지 추가
2024.12.05  이유민      Modified    채팅 폴더명 변경
-->
<div style="max-width: 738px; margin: 0 auto; padding-top: 36px">
  <!-- 제목 -->
  <span style="font-family: LINESeed-BD; font-size: 45px; display: block; margin: 0 auto; text-align: center">
    <span id="green-400">호시탐탐 그린티</span> 님과의 채팅
  </span>

  <!-- 수평선 -->
  <hr id="gray-500" style="width: 738px; padding-top: 16px;" />

  <!-- 채팅 화면 -->
  <div style="background-color: rgba(240, 248, 245, 0.5); width: 100%; height: 600px; border-radius: 12px">
    <!-- 채팅 제목 -->
    <div style="display: flex">
      <div id="gray-600" style="font-family: LINESeed-RG; font-size: 16px; padding-top: 20px; padding-left: 20px">
        컨버스 척테일러 올스타 클래식 블랙<br />
        25,000원
      </div>

      <!-- 버튼 -->
      <div style="margin-left: auto; padding-top: 20px; padding-right: 20px">
        <button type="button" class="global-btn" style="font-size: 16px;">
          판매
        </button>
      </div>
    </div>

    <!-- 수평선 -->
    <hr id="gray-500" style="width: 738px; padding-top: 20px;" />

    <!-- 채팅 메시지 -->
    <div class="message sent">
      <p>
        안녕하세요! 컨버스에 관심있어서 연락드립니다.<br />
        팔렸나요?
      </p>
    </div>
    <div class="message received" style="margin-left: 20px">
      <p>안녕하세요. 아직 남아 있습니다.</p>
    </div>
    <div class="message sent">
      <p>저 구매하겠습니다!</p>
    </div>
    <div class="message received">
      <p>
        네 :)<br />
        계좌는 XX은행 123-123-12345 김탐탐입니다.
      </p>
    </div>

    <!-- 거래 메시지 -->
    <div style="font-family: LINESeed-RG; font-size: 15px; width: 696px; background-color: #FFFFFF; border: 1px solid #479F76; border-radius: 12px; text-align: center; margin: 0 auto; padding-top: 11px; padding-bottom: 11px">
      <span style="color: #479F76;">호시탐탐 그린티</span> 님이 <span style="color: #479F76">카레빵맨</span> 님에게 물품을 판매합니다.
    </div>

    <div class="message sent">
      <p>송금했습니다!</p>
    </div>
    <div class="message received">
      <p>
        넵! 확인했습니다. 택배 보내고 연락드리겠습니다.
      </p>
    </div>
  </div>

  <!-- 입력칸 -->
  <div class="input-group mb-3" style="width: 100%; height: 50px; padding-top: 5px; font-family: LINESeed-RG">
    <textarea class="form-control" placeholder="채팅을 입력해주세요." id="floatingTextarea"></textarea>
  </div>

</div>