<!-- 
File Name : chat
Description : 내 채팅 페이지
Author : 이유민

History
Date        Author      Status      Description
2024.11.06  이유민      Created     
2024.11.06  이유민      Modified    내 채팅 페이지 추가
2024.12.05  이유민      Modified    채팅 폴더명 변경
2024.12.05  이유민      Modified    채팅 API 연동
-->
<div style="max-width: 738px; margin: 0 auto; padding-top: 36px">
  <!-- 제목 -->
  <span style="font-family: LINESeed-BD; font-size: 45px;">
    내 채팅
  </span>

  <!-- 수평선 -->
  <hr id="gray-500" style="width: 738px; padding-top: 16px;" />

  <!-- 카드 -->
  <div id="myChatContainer"></div>
</div>

<script src="/js/chat/indexHandler.js"></script>