<!-- 
File Name : find
Description : 아이디 찾기 및 비밀번호 찾기 페이지
Author : 이유민

History
Date        Author      Status      Description
2025.01.19  이유민      Created     
2025.01.19  이유민      Modified    아이디 찾기 및 비밀번호 찾기 API 연동
-->
<div style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  ">
  <!-- 로고 -->
  <div style="display: flex; justify-content: center">
    <a href="/">
      <img src="/assets/images/Reborn_logo2.svg" style="width: 472px; height: auto" alt="Reborn" />
    </a>
  </div>

  <div style="
      border: 1px solid #adb5bd;
      padding-top: 25px;
      padding-bottom: 25px;
      width: 430px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
    ">
    <div id="inputContainer"></div>

    <!-- 경고문구 -->
    <p style="color: #e35d6a; font-family: LINESeed-BD; font-size: 14px; block: none" id="warningText">
    </p>

    <!-- 버튼 -->
    <div>
      <button id="dataFindBtn" type="button" class="global-btn" style="width: 373px" onclick="findBtnClick()">
      </button>
    </div>
  </div>

  <!-- 칸 아래 -->
  <div class="login-texts" style="display: flex; padding-top: 18px">
    <div>
      <a href="/login">로그인 화면으로 돌아가기</a>
    </div>
  </div>
</div>

<script src="/js/auth/findHandler.js"></script>