<!-- 
File Name : chatting
Description : 내 채팅 페이지
Author : 이유민

History
Date        Author      Status      Description
2024.11.06  이유민      Created     
2024.11.06  이유민      Modified    내 채팅 페이지 추가
-->
<div style="max-width: 738px; margin: 0 auto; padding-top: 36px">
  <!-- 제목 -->
  <span style="font-family: LINESeed-BD; font-size: 45px;">
    내 채팅
  </span>

  <!-- 수평선 -->
  <hr id="gray-500" style="width: 738px; padding-top: 16px;" />

  <!-- 카드 -->
  <div class="card mb-3" style="width: 738px; height: 200px">
    <div class="row g-0" style="height: 100%">
      <div class="col-md-4" style="height: 100%;">
        <img src="/assets/images/pre-loved-example.svg" class="img-fluid rounded-start" alt="상품 이미지" style="height: 100%; width: auto; object-fit: cover" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">호시탐탐 그린티</h5>
          <p class="card-text">
            <small class="text-body-secondary">
              컨버스 척테일러 올스타 클래식 블랙<br />
              25,000원<br />
              최근 대화 : 2024년 11월 2일
            </small>
            <!-- 버튼 -->
          <div>
            <button type="button" class="global-btn" style="font-size: 16px;">
              삭제
            </button>
          </div>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- 카드 -->
  <div class="card mb-3" style="width: 738px; height: 200px">
    <div class="row g-0" style="height: 100%">
      <div class="col-md-4" style="height: 100%;">
        <img src="/assets/images/pre-loved-example.svg" class="img-fluid rounded-start" alt="상품 이미지" style="height: 100%; width: auto; object-fit: cover" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">호시탐탐 그린티</h5>
          <p class="card-text">
            <small class="text-body-secondary">
              컨버스 척테일러 올스타 클래식 블랙<br />
              25,000원<br />
              최근 대화 : 2024년 11월 2일
            </small>
            <!-- 버튼 -->
          <div>
            <button type="button" class="global-btn" style="font-size: 16px;">
              삭제
            </button>
          </div>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="width: 738px; height: 200px">
    <div class="row g-0" style="height: 100%">
      <div class="col-md-4" style="height: 100%;">
        <img src="/assets/images/pre-loved-example.svg" class="img-fluid rounded-start" alt="상품 이미지" style="height: 100%; width: auto; object-fit: cover" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">호시탐탐 그린티</h5>
          <p class="card-text">
            <small class="text-body-secondary">
              컨버스 척테일러 올스타 클래식 블랙<br />
              25,000원<br />
              최근 대화 : 2024년 11월 2일
            </small>
            <!-- 버튼 -->
          <div>
            <button type="button" class="global-btn" style="font-size: 16px;">
              삭제
            </button>
          </div>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="width: 738px; height: 200px">
    <div class="row g-0" style="height: 100%">
      <div class="col-md-4" style="height: 100%;">
        <img src="/assets/images/pre-loved-example.svg" class="img-fluid rounded-start" alt="상품 이미지" style="height: 100%; width: auto; object-fit: cover" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">호시탐탐 그린티</h5>
          <p class="card-text">
            <small class="text-body-secondary">
              컨버스 척테일러 올스타 클래식 블랙<br />
              25,000원<br />
              최근 대화 : 2024년 11월 2일
            </small>
            <!-- 버튼 -->
          <div>
            <button type="button" class="global-btn" style="font-size: 16px;">
              삭제
            </button>
          </div>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="width: 738px; height: 200px">
    <div class="row g-0" style="height: 100%">
      <div class="col-md-4" style="height: 100%;">
        <img src="/assets/images/pre-loved-example.svg" class="img-fluid rounded-start" alt="상품 이미지" style="height: 100%; width: auto; object-fit: cover" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">호시탐탐 그린티</h5>
          <p class="card-text">
            <small class="text-body-secondary">
              컨버스 척테일러 올스타 클래식 블랙<br />
              25,000원<br />
              최근 대화 : 2024년 11월 2일
            </small>
            <!-- 버튼 -->
          <div>
            <button type="button" class="global-btn" style="font-size: 16px;">
              삭제
            </button>
          </div>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>