<!-- 
File Name : eco-market-click
Description : 에코마켓 정보 조회
Author : 이유민

History
Date        Author      Status      Description
2024.11.05  이유민      Created     
2024.11.05  이유민      Modified    에코마켓 정보 조회 추가
-->
<!-- 프로필 -->
<div style="display: flex; align-items: center; justify-content: center; padding-bottom: 21px">
  <img src="/assets/images/eco-market-example.svg" style="width: 500px; height: 500px; object-fit: cover; border-radius: 20px; margin-top: 37px;">
</div>

<!-- 프로필 설명 -->
<div style="max-width: 738px; margin: 0 auto;">
  <div style="display: flex; align-items: center; margin-bottom: 9px">
    <img src="/assets/images/eco-market-example.svg" style="width: 40px; height: 40px; object-fit: cover; border-radius: 50%; margin-right: 10px;">
    <p style="font-family: LINESeed-BD; font-size: 20px; margin: 0;">만수마켓</p>
  </div>

  <hr id="gray-500" style="width: 738px; margin: 0; padding-bottom: 16px" />

  <div style="font-family: LINESeed-RG">
    <div style="padding-bottom: 9px; font-size: 15px">
      우리 동네에서 직접 수집한 재활용 명품들!<br />
      만수마켓에서 만나는 소중한 가치를 느껴보세요.
    </div>
    <div style="color: #6c757d; font-size: 13px">
      후기 2,829 단골 1,203
    </div>
  </div>
</div>

<!-- 검색 및 정렬 -->
<div style="
    display: flex;
    justify-content: center;
    margin-top: 41px;
    margin-bottom: 41px;
  ">
  <div class="input-group mb-3" style="width: 437px; margin-right: 30px">
    <input type="text" class="form-control" id="form-select" placeholder="상품을 검색해보세요." aria-label="eco-market-name" />
  </div>

  <div>
    <select class="form-select" id="form-select" aria-label="Default select example" style="width: 110px; text-align: center">
      <option selected value="인기순">인기순</option>
      <option value="이름순">이름순</option>
      <option value="최신순">최신순</option>
    </select>
  </div>
</div>


<!-- 카드 -->
<div class="card-contents">
  <a href="/eco-market/product">
    <div class="card" style="width: 18rem">
      <img src="/assets/images/eco-market-product.svg" class="card-img-top" alt="..." style="height: 214px; object-fit: cover" />
      <div class="card-body">
        <h5 class="card-title">구름 모양 코스터</h5>
        <p class="card-text">30,000원</p>
        <p class="card-text" style="color: #6c757d; font-size: 12px">후기 654</p>
      </div>
    </div>
  </a>
  <a href="/eco-market/product">
    <div class="card" style="width: 18rem">
      <img src="/assets/images/eco-market-product.svg" class="card-img-top" alt="..." style="height: 214px; object-fit: cover" />
      <div class="card-body">
        <h5 class="card-title">구름 모양 코스터</h5>
        <p class="card-text">30,000원</p>
        <p class="card-text" style="color: #6c757d; font-size: 12px">후기 654</p>
      </div>
    </div>
  </a>
  <a href="/eco-market/product">
    <div class="card" style="width: 18rem">
      <img src="/assets/images/eco-market-product.svg" class="card-img-top" alt="..." style="height: 214px; object-fit: cover" />
      <div class="card-body">
        <h5 class="card-title">구름 모양 코스터</h5>
        <p class="card-text">30,000원</p>
        <p class="card-text" style="color: #6c757d; font-size: 12px">후기 654</p>
      </div>
    </div>
  </a>
</div>
<div class="card-contents" style="margin-top: 47px">
  <a href="/eco-market/product">
    <div class="card" style="width: 18rem">
      <img src="/assets/images/eco-market-product.svg" class="card-img-top" alt="..." style="height: 214px; object-fit: cover" />
      <div class="card-body">
        <h5 class="card-title">구름 모양 코스터</h5>
        <p class="card-text">30,000원</p>
        <p class="card-text" style="color: #6c757d; font-size: 12px">후기 654</p>
      </div>
    </div>
  </a>
  <a href="/eco-market/product">
    <div class="card" style="width: 18rem">
      <img src="/assets/images/eco-market-product.svg" class="card-img-top" alt="..." style="height: 214px; object-fit: cover" />
      <div class="card-body">
        <h5 class="card-title">구름 모양 코스터</h5>
        <p class="card-text">30,000원</p>
        <p class="card-text" style="color: #6c757d; font-size: 12px">후기 654</p>
      </div>
    </div>
  </a>
  <a href="/eco-market/product">
    <div class="card" style="width: 18rem">
      <img src="/assets/images/eco-market-product.svg" class="card-img-top" alt="..." style="height: 214px; object-fit: cover" />
      <div class="card-body">
        <h5 class="card-title">구름 모양 코스터</h5>
        <p class="card-text">30,000원</p>
        <p class="card-text" style="color: #6c757d; font-size: 12px">후기 654</p>
      </div>
    </div>
  </a>
</div>