<!-- 
File Name : index
Description : 홈 화면
Author : 이유민

History
Date        Author      Status      Description
2024.11.04  이유민      Created     
2024.11.04  이유민      Modified    홈 화면 추가
-->
<div style="
    height: 583px;
    background-color: #d1e7dd;
    padding-top: 182px;
    padding-bottom: 182px;
    padding-left: 256px;
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 수직 정렬 */
  ">
  <div style="margin-right: 12px">
    <!-- 글자 부분을 감싸는 div -->
    <p class="page-theme" style="font-size: 45px">
      재사용으로 가치를 만드는 공간
    </p>
    <p class="page-detail" style="margin-top: 78px; font-size: 30px">
      지구를 위한 따뜻한 거래
      <br />
      리본에서 환경을 생각하며 시작하세요.
    </p>
  </div>
  <img src="/assets/images/Reborn_logo1.svg" style="height: 456px; width: auto" />
</div>