<!-- 
File Name : notFound
Description : 404 페이지
Author : 이유민

History
Date        Author      Status      Description
2024.11.26  이유민      Created     
2024.11.26  이유민      Modified    404 추가
-->
<div style="max-width: 738px; margin: 0 auto; text-align: center; padding-top: 100px;">
  <div style="font-family: LINESeed-BD; font-size: 80px; color: #479f76; margin-bottom: 20px;">
    404
  </div>

  <div style="font-family: LINESeed-RG; font-size: 24px; color: #a3cfbb; margin-bottom: 40px;">
    페이지를 찾을 수 없습니다. 😢<br />
    요청하신 페이지가 존재하지 않거나 이동되었을 수 있습니다.
  </div>

  <!-- 버튼 -->
  <div style="display: flex; justify-content: center; gap: 16px; padding-bottom: 100px">
    <a href="/" style="text-decoration: none;">
      <button type="button" class="jelly">
        홈으로 돌아가기
      </button>
    </a>
    <button type="button" class="jelly" onclick="history.go(-1)">
      이전 페이지로 돌아가기
    </button>
  </div>
</div>