<!-- 
File Name : payments-success
Description : 결제 성공 페이지
Author : 이유민

History
Date        Author      Status      Description
2024.11.05  이유민      Created     
2024.11.05  이유민      Modified    결제 성공 페이지 추가
-->
<div style="max-width: 738px; margin: 0 auto; padding-top: 36px;">
  <!-- 결제 완료 -->
  <span style="font-family: LINESeed-BD; font-size: 45px; display: block; margin: 0 auto; text-align: center;">
    결제가 완료되었습니다! 🎉
  </span>

  <!-- 수평선 -->
  <hr id="gray-500" style="width: 738px; padding-top: 16px;" />

  <!-- 주문상품 -->
  <div class="card mb-3" style="width: 738px; height: 265px">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/images/eco-market-product.svg" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">구름 모양 코스터</h5>
          <p class="card-text">
            <small class="text-body-secondary">
              만수마켓 배송<br />
              30,000원 1개<br />
              두꺼운 코스터<br />
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- 수평선 -->
  <hr id="gray-500" style="width: 738px; margin-top: 32px;" />

  <!-- 배송지 -->
  <span style="font-family: LINESeed-BD; font-size: 30px;">
    배송지
  </span>

  <div style="margin-top: 20px; margin-bottom: 20px">
    이름: 이돌식<br />
    전화번호: 010-1234-1234<br />
    주소: 서울특별시 종로구 사직로 161<br />
  </div>

  <!-- 버튼 -->
  <div style="display: flex;">
    <a href="#" style="display: inline-block; width: 47%;">
      <button type="button" class="global-btn" style="font-size: 20px; width: 100%;">
        쇼핑 계속하기
      </button>
    </a>
    <a href="/mypage" style="display: inline-block; width: 47%; margin-left: auto">
      <button type="button" class="global-btn" style="font-size: 20px; width: 100%;">
        마이페이지로 이동
      </button>
    </a>
  </div>
</div>