<!-- 
File Name : mymarket-click
Description : 내 마켓 상세 조회 핸들러
Author : 이유민

History
Date        Author      Status      Description
2025.01.18  이유민      Created     
2025.01.18  이유민      Modified    내 마켓 추가
-->
<div style="max-width: 738px; margin: 0 auto; padding-top: 36px">
  <!-- 제목 -->
  <span id="marketTitle" style="font-family: LINESeed-BD; font-size: 45px; cursor: pointer">
  </span>

  <!-- 수평선 -->
  <hr id="gray-500" style="width: 738px; padding-top: 16px;" />


  <span style="font-family: LINESeed-BD; font-size: 30px; display: block;">
    주문 현황 <span style="font-family: LINESeed-RG; font-size: 20px; color: #6c757d">(배송상태 및 운송장번호는 값 변경 시 바로 저장됩니다.)</span>
  </span>
</div>

<div id="sellingContainer" style="max-width: 95%; margin: auto; padding: 20px;">
</div>

<script src="/js/mymarket/clickHandler.js"></script>