<!-- 
File Name : mymarket
Description : 내 마켓
Author : 이유민

History
Date        Author      Status      Description
2025.01.18  이유민      Created     
2025.01.18  이유민      Modified    내 마켓 추가
-->
<div style="max-width: 738px; margin: 0 auto; padding-top: 36px">
  <!-- 제목 -->
  <span style="font-family: LINESeed-BD; font-size: 45px;">
    내 마켓
  </span>

  <!-- 수평선 -->
  <hr id="gray-500" style="width: 738px; padding-top: 16px;" />

  <div style="max-width: 738px; margin: 0 auto;">
    <div id="myMarketContainer"></div>
    <span id="nullMyMarket" style="font-family: LINESeed-RG; font-size: 20px; color: #6c757d; display: none; text-align: center;">
      내 에코마켓이 없습니다.
    </span>
  </div>
</div>

<script src="/js/mymarket/indexHandler.js"></script>