<!-- 
File Name : payments
Description : 결제 페이지
Author : 이유민

History
Date        Author      Status      Description
2024.11.05  이유민      Created     
2024.11.05  이유민      Modified    결제 페이지 추가
2024.11.25  이유민      Modified    결제 API 연동
2024.12.17  이유민      Modified    결제 카드 디자인 수정
2025.01.17  이유민      Modified    결제 코드 리팩토링
2025.01.19  이유민      Modified    전화번호 입력 코드 리팩토링
-->
<div style="max-width: 738px; margin: 0 auto; padding-top: 36px">
  <!-- 주문상품 수 -->
  <span style="font-family: LINESeed-BD; font-size: 45px;">
    주문상품 총 1개
  </span>

  <!-- 수평선 -->
  <hr id="gray-500" style="width: 738px; padding-top: 16px;" />

  <!-- 주문상품 -->
  <div id="paymentsProductContainer"></div>

  <!-- 수평선 -->
  <hr id="gray-500" style="width: 738px; margin-top: 32px;" />

  <!-- 배송지 -->
  <span style="font-family: LINESeed-BD; font-size: 30px;">
    배송지
    <p style="color: #6c757d; font-family: LINESeed-RG; font-size: 18px">*가 표시된 정보는 필수로 입력해주세요.</p>
  </span>

  <div style="margin-top: 20px; margin-bottom: 20px">
    <div style="display: flex; margin-bottom: 10px">
      <input type="text" class="form-control" id="orderName" placeholder="*이름" aria-label="name" style="width: 268px" />
      <input type="text" class="form-control" id="orderPhone" placeholder="*전화번호" aria-label="phone" style="width: 430px; margin-left: auto" oninput="formatPhoneNumber(this)" />
    </div>
    <div style=" display: flex; margin-bottom: 10px">
      <input type="text" class="form-control" id="sample6_postcode" placeholder="*우편번호" style="width: 268px" />
      <input type="button" class="global-btn" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" style="margin-left: 40px;">
    </div>
    <input type="text" class="form-control" id="sample6_address" placeholder="*주소" style="margin-bottom: 10px">
    <div style="display: flex; gap: 40px">
      <input type="text" class="form-control" id="sample6_detailAddress" placeholder="상세주소" style="width: 349px">
      <input type="text" class="form-control" id="sample6_extraAddress" placeholder="참고항목" style="width: 349px">
    </div>
  </div>

  <!-- 수평선 -->
  <hr id="gray-500" style="width: 738px; margin-top: 32px;" />

  <!-- 배송지 -->
  <span style="font-family: LINESeed-BD; font-size: 30px;">
    결제 방법
    <p style="color: #6c757d; font-family: LINESeed-RG; font-size: 18px">원하는 결제 방법을 선택해주세요.</p>
  </span>

  <!-- 라디오 버튼 -->
  <div class="d-flex flex-wrap" style="gap: 15px; margin-bottom: 20px; font-family: LINESeed-RG">
    <div>
      <input type="radio" class="btn-check" name="paymentMethod" id="CARD" autocomplete="off" onclick="selectPaymentMethod('CARD')">
      <label class="btn btn-outline-success px-4 py-2" for="CARD">카드</label>
    </div>
    <div>
      <input type="radio" class="btn-check" name="paymentMethod" id="TRANSFER" autocomplete="off" onclick="selectPaymentMethod('TRANSFER')">
      <label class="btn btn-outline-success px-4 py-2" for="TRANSFER">계좌이체</label>
    </div>
    <div>
      <input type="radio" class="btn-check" name="paymentMethod" id="VIRTUAL_ACCOUNT" autocomplete="off" onclick="selectPaymentMethod('VIRTUAL_ACCOUNT')">
      <label class="btn btn-outline-success px-4 py-2" for="VIRTUAL_ACCOUNT">가상계좌</label>
    </div>
    <div>
      <input type="radio" class="btn-check" name="paymentMethod" id="MOBILE_PHONE" autocomplete="off" onclick="selectPaymentMethod('MOBILE_PHONE')">
      <label class="btn btn-outline-success px-4 py-2" for="MOBILE_PHONE">휴대폰</label>
    </div>
    <div>
      <input type="radio" class="btn-check" name="paymentMethod" id="CULTURE_GIFT_CERTIFICATE" autocomplete="off" onclick="selectPaymentMethod('CULTURE_GIFT_CERTIFICATE')">
      <label class="btn btn-outline-success px-4 py-2" for="CULTURE_GIFT_CERTIFICATE">문화상품권</label>
    </div>
  </div>

  <!-- 결제 버튼-->
  <div>
    <button type="button" id="paymentsBtn" class="global-btn btn btn-success" style="font-size: 20px; width: 100%;" onclick="requestPayment()">
      총 <span id="paymentsTotalPrice"></span> 원 결제
    </button>
  </div>
</div>

<!-- 배송지 관련 -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<!-- 토스페이먼츠 관련 -->
<script src="https://js.tosspayments.com/v2/standard"></script>

<script src="/js/payments/indexHandler.js"></script>